* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #E6B17E;
    --detail-color: #C56E33;
    --secondary-color: #551E19;
}

/* Promeniti */
p, h1, h2, h3, h4, a {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

.center-block {
    width: 75%;
    margin: 0px auto;
}

/* Header style start */
header {
    background-color: var(--main-color);
    height: 120px;
}

header .center-block {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#logo-holder {
    height: 110px;
}

#logo-holder a img {
    width: 100%;
    height: 100%;
}

nav ul {
    list-style-type: none;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.active {
    font-weight: bold;
}

/* Header style end */

/* Content start */
#image-holder {
    width: 100%;
    height: 850px;
    background-image: url("../img/cafe.jpg");
    position: relative;
}

h1, h2 {
    color: var(--main-color);
    font-size: 34px;
    text-align: center;
    padding-top: 25px;
}

h1 {
    font-family: 'Kaushan Script', cursive;
}

#title-text-holder, #welcome-text-holder {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 50%);
}

#welcome-text-holder {
    position: absolute;
    bottom: 0px;
}

#drinks-food-container {
    height: 500px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drinks-food-item {
    width: 600px;
    height: 400px;
    background-color: var(--secondary-color);
    border: 3px solid var(--detail-color);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h3 {
    font-weight: normal;
    text-align: center;
    font-size: 28px;
    color: var(--main-color);
}

.drinks-food-item p {
    color: var(--main-color);
    text-align: center;
}

.drinks-food-image-holder {
    width: 450px;
    height: 250px;
    margin: 0px auto;
}

#info {
    width: 500px;
    height: 100px;
    margin: 0px auto;
}

#visit-us #info h3 {
    text-align: center;
    margin-bottom: 20px;
}

#visit-us #info p {
    text-align: center;
    font-size: 18px;
}

#visit-us iframe {
    width: 100%;
    height: 400px;
    margin: 20px 0px 20px 0px;
    border: 3px solid var(--detail-color);
    border-radius: 25px;
}

/* Content end */

/* Footer style start*/
footer {
    width: 100%;
    background-color: var(--main-color);
}

footer .center-block {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer-socials {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

#rss-sitemap-holder {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

i {
    font-size: 32px;
    color: black;
}

footer p {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

/* Footer style end */

/* Cenovnik style start */

#pricelist {
    background-color: var(--secondary-color);
}

.menu {
    width: 100%;
    padding-bottom: 25px;
}

.menu .center-block {
    height: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-section {
    width: 30%;
    height: 450px;
    padding: 0px 10px 0px 10px;
    border: 3px dashed var(--detail-color);
}

.menu-section h3 {
    margin: 10px 0px 10px 0px;
    color: var(--detail-color)
}

.menu-section table {
    width: 100%;
}

.menu-section table tr td {
    color: var(--main-color);
    font-size: 20px;
    height: 30px;
}

.price {
    text-align: right;
}
